@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  font-family: 'Roboto' !important;
}

@media all and (min-width: 768px) {
  body {
    max-width: 1280px;
  }
}

p,
input[placeholder] {
  font-size: 20px !important;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #ffcccc;
}

form > div > p {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input,
textarea {
  width: 450px;
  height: 45px;
  border-radius: 5px;
  background-color: FFFFFF;
}

button {
  background-color: dimgray;
  min-width: 80px;
  height: 55px;
  border-radius: 15px;
}

ul li {
  list-style-type: none;
}

@media (max-width: 600px) {
  form p {
    display: block;
  }
  label {
    display: block;
    text-align: left;
  }
}

body {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 35px 35px 35px;
  height: 110px;
}

body > div {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(231, 231, 231);
}

h2 {
  color: #fd2d01;
  font-weight: bold;
}

h2 a {
  text-decoration: underline;
  color: #fd2d01;
}

a {
  color: black;
  text-decoration: underline;
}
p.auteur {
  color: #fd2d01;
  font-size: 14px;
  font-weight: bold;
}

.nav-link {
  cursor: pointer;
}
