@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
*,
*::after,
*::before {
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: yellowgreen;
}

form > div > p {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  width: 250px;
}

@media (max-width: 600px) {
  form p {
    display: block;
  }
  label {
    display: block;
    text-align: left;
  }
}

body {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto', sans-serif;
  color: black;
}

@media all and (min-width: 768px) {
  body {
    max-width: 750px;
    background-color: #99e2d0;
  }
}
@media all and (min-width: 993px) {
  body {
    max-width: 1280px;
    background-color: #99e2d0;
  }
}
@media all and (max-width: 370px) {
  body {
    max-width: 290px;
  }
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 35px 35px 35px;
  height: 110px;
}

body > div {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(231, 231, 231);
}

* {
  font-family: 'Roboto' !important;
}

h2 {
  color: #fd2d01;
  font-weight: bold;
}

h2 a {
  text-decoration: underline;
  color: #fd2d01;
}

a {
  color: black;
  text-decoration: underline;
}
p.auteur {
  color: #fd2d01;
  font-size: 14px;
  font-weight: bold;
}

button {
  background-color: grey;
  color: white;
}

.nav-link {
  cursor: pointer;
}
