@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

body > div {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(231, 231, 231);
}

* {
  font-family: 'Roboto' !important;
}

h2 {
  color: #fd2d01;
  font-weight: bold;
}

h2 a {
  text-decoration: underline;
  color: #fd2d01;
}

a {
  color: black;
  text-decoration: underline;
}
p.auteur {
  color: #fd2d01;
  font-size: 14px;
  font-weight: bold;
}

button {
  background-color: grey;
  color: white;
}

.nav-link {
  cursor: pointer;
}
